@import "../common.css";
:root {
    --color-primary: #462880;
    --color-secondary: #dddddd;
}

button {
    padding: 1rem 1.6rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    transition: all 350ms ease-in-out;
    position: relative;
}

textarea {
    width: 100%;
    max-width: 100%;
    height: 350px;
    max-height: 350px;
    border-radius: 5px;
    font-size: 1.4rem;
    border-color: var(--color-primary);
}

.container {
    display: flex;
    margin: 1rem auto;
    flex-direction: column;
}

.button__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 1rem 0;
    justify-content: center;
}

.button__list-item {
    margin: 1rem;
    font-family: var(--secondary-font-family);
}

.converter-btn {
    border-radius: 5px;
}

.utility-btn {
    border-radius: 50px;
}

.btn-style-1 {
    color: var(--color-primary);
    border: 2px solid;
    outline: none;

}

.converter-btn:hover {
    border-radius: 50px;
}

.utility-btn:hover {
    border-radius: 5px;
}

.btn-style-1:active {
    transform: scale(0.98);
}

.info-tooltip {
    position: relative;
    margin-left: 10px;
    outline: none;
    line-height: 0;
    color: var(--color-primary)
}

.info-tooltip:before {
    content: "";
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-tooltip:hover .info-popup {
    opacity: 1;
}


.info-popup {
    opacity: 0;
    width: 250px;
    z-index: 10;
    background: #fff;
    border: 2px solid #e1e1e1;
    padding: 15px;
    position: absolute;
    pointer-events: none;
    line-height: 1;
    text-align: center;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 250ms ease-in-out;
}

.info-popup:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -12px;
    background: #fff;
    left: 50%;
    border-radius: 2px;
    border-top: 2px solid #e1e1e1;
    border-right: 2px solid #e1e1e1;
    transform: rotate(-45deg) translateX(-50%);
}
